
download_metadata{
methylation_gdc{
tcga_brca{ 
	  project = "TCGA-BRCA" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_luad{ 
	  project = "TCGA-LUAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_kirc{ 
	  project = "TCGA-KIRC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_lusc{ 
	  project = "TCGA-LUSC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_prad{ 
	  project = "TCGA-PRAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_skcm{ 
	  project = "TCGA-SKCM" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_coad{ 
	  project = "TCGA-COAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_stad{ 
	  project = "TCGA-STAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_lihc{ 
	  project = "TCGA-LIHC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_laml{ 
	  project = "TCGA-LAML" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_paad{ 
	  project = "TCGA-PAAD" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
tcga_dlbc{ 
	  project = "TCGA-DLBC" 
	  gdc_type = "methylation_beta_value" 
	  gdc_platform="illumina human methylation 450" 
	  download_dir = "gdc_tcga_methylation" 
	}
	}
}
