
  download_metadata{
    mutation_tcgabiolinks{
      tcga_brca{
        project= "TCGA-BRCA"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_luad{ 
        project = "TCGA-LUAD"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_kirc{ 
        project = "TCGA-KIRC"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_lusc{ 
        project = "TCGA-LUSC"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_prad{ 
        project = "TCGA-PRAD"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_skcm{ 
        project = "TCGA-SKCM"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_coad{ 
        project = "TCGA-COAD"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_stad{ 
        project = "TCGA-STAD"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_lihc{ 
        project = "TCGA-LIHC"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_laml{ 
        project = "TCGA-LAML"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_paad{ 
        project = "TCGA-PAAD"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
      tcga_dlbc{ 
        project = "TCGA-DLBC"
        data_category = "Simple Nucleotide Variation"
        data_type = "Masked Somatic Mutation"
        download_dir = "gdc_tcga_mutation"
      }
    }
  }
