
  download_metadata{
    expression_recount3{
      tcga_brca{
        project= "BRCA"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_luad{ 
        project = "LUAD"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene" 
      }
      tcga_kirc{ 
        project = "KIRC"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_lusc{ 
        project = "LUSC"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_prad{ 
        project = "PRAD"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_skcm{ 
        project = "SKCM"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_coad{ 
        project = "COAD"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_stad{ 
        project = "STAD"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_lihc{ 
        project = "LIHC"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_laml{ 
        project = "LAML"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_paad{ 
        project = "PAAD"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      tcga_dlbc{ 
        project = "DLBC"
        project_home = "data_sources/tcga"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_skin{
        project = "SKIN"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_blood{
        project = "BLOOD"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_colon{
        project = "COLON"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_lung{
        project = "LUNG"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_breast{
        project = "BREAST"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_stomach{
        project = "STOMACH"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_pancreas{
        project = "PANCREAS"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_prostate{
        project = "PROSTATE"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_liver{
        project = "LIVER"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
      gtex_kidney{
        project = "KIDNEY"
        project_home = "data_sources/gtex"
        organism = "human"
        annotation = "gencode_v26"
        type = "gene"
      }
    }
  }