
download_metadata{
clinical_tcgabiolinks{
	tcga_brca{ 
		  project = "TCGA-BRCA" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_luad{ 
		  project = "TCGA-LUAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_kirc{ 
		  project = "TCGA-KIRC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_lusc{ 
		  project = "TCGA-LUSC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_prad{ 
		  project = "TCGA-PRAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_skcm{ 
		  project = "TCGA-SKCM" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_coad{ 
		  project = "TCGA-COAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_stad{ 
		  project = "TCGA-STAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_lihc{ 
		  project = "TCGA-LIHC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_laml{ 
		  project = "TCGA-LAML" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_paad{ 
		  project = "TCGA-PAAD" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
	tcga_dlbc{ 
		  project = "TCGA-DLBC" 
		  data_category = "Clinical" 
		  data_type = "Clinical Supplement" 
		  data_format = "BCR Biotab" 
		}
}
}